<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TbCarsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.domin.TbCars">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tiji" jdbcType="INTEGER" property="tiji" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, xh, create_time, tiji
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cars
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_cars
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.domin.TbCars">
    insert into tb_cars (id, `name`, xh, 
      create_time, tiji)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{tiji,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.domin.TbCars">
    insert into tb_cars
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="xh != null">
        xh,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="tiji != null">
        tiji,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tiji != null">
        #{tiji,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domin.TbCars">
    update tb_cars
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tiji != null">
        tiji = #{tiji,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domin.TbCars">
    update tb_cars
    set `name` = #{name,jdbcType=VARCHAR},
      xh = #{xh,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tiji = #{tiji,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>